

  <div [ngClass]="isGateOpen ? 'gateOpen' : 'gateClosed' ">
    <div class="bodyText"> 
        <h1 *ngIf='!isGateOpen'>Gate is Closed</h1>
        <h1 *ngIf='isGateOpen'>Gate is Open</h1>
    </div>
  </div>
  <!--<div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h1>Welcome {{model.name}}</h1>
        </div>
      </div>
    </div>
    
  </div>-->

  <!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
  

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>
  

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.Phone}} </td>
    </ng-container>

    <ng-container matColumnDef="checkintime">
        <th mat-header-cell *matHeaderCellDef> Check in time </th>
        <td mat-cell *matCellDef="let element"> {{element.CheckInTime}} </td>
      </ng-container>

      <ng-container matColumnDef="checkouttime">
        <th mat-header-cell *matHeaderCellDef> Checkout time </th>
        <td mat-cell *matCellDef="let element"> {{element.CheckOutTime}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>-->

 